{% extends 'home/base.html' %} 
{% block title %}About
{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class='text-center my-5'>About Us</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti blanditiis
            expedita nostrum reiciendis ratione quis, nisi 
            molestiae ad sint inventore nihil facere 
            reprehenderit nam laboriosam numquam, architecto ab! At.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti blanditiis
            expedita nostrum reiciendis ratione quis, nisi 
            molestiae ad sint inventore nihil facere 
            reprehenderit nam laboriosam numquam, architecto ab! At.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti blanditiis
            expedita nostrum reiciendis ratione quis, nisi 
            molestiae ad sint inventore nihil facere 
            reprehenderit nam laboriosam numquam, architecto ab! At.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti blanditiis
            expedita nostrum reiciendis ratione quis, nisi          
        </p>
    </div>

{% endblock content %}