{% extends 'home/base.html' %} 
{% block title %}Login
{% endblock title %}
{% block content %}
    <div class="container col-md-9">
        <h1 class='text-center my-5'>Log In</h1>
        <hr>
        <div class="container mb-5 col-md-10">
            <form action="" method="POST">
                
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary float-right mb-5">Login</button>
            </form>
        </div>
    </div>

{% endblock content %}