{% extends 'home/base.html' %} 
{% block title %}Dashboard{% endblock title %}
{% block content %}

    <div class="col-sm-8 mt-3">
        <dib class="jumbotorn jumbotron-fluid">
            <div class="container jumbo-color py-5">
                <h1 class='display-5'><b> {{post.title}}</b></h1>
                <p class='lead justify '>
                    {{post.desc}}
                </p>
            </div>
        </dib>
        <a href="{% url 'home' %}" class="btn btn-outline-warning my-5 py-1 px-5 ">Back</a>
        <a href="{% url 'updatepost' post.id %}" class='btn btn-warning btn-sm '>Edit</a>
        {% if perms.home.delete_post %}
            <form action="{% url 'deletepost' post.id %}" method='POST' class='d-inline'>{% csrf_token %}
                <input type="submit" class='btn btn-danger btn-sm' value="Delete">
            </form>
        {% endif %}
    </div>

{% endblock content %}